<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2024 NSTDA
  -->
<odoo>
    <menuitem
        id="my_service_event_report_menu"
        name="รายการกิจกรรมของฉัน"
        action="ni_service_event_action_my_pivot"
        sequence="3"
        web_icon="ni_community_care,static/description/pivot-table.png"
    />
</odoo>
